div {
    max-width: 1200px;
    display: flex;
}

.shared-outer {
    background-color: black;
    padding: 1%;
    margin: 2%;
}

#outer-one {
    height: 100px;
    flex-direction: column;
    justify-content: space-evenly;
}

#outer-two {
    height: 125px;
}

#outer-three {
    height: 50px;
}

#mid-one {
    background-color: grey;
    flex: 1;
    display: flex;
    align-items: center;

}

#mid-two {
    background-color: orange;
    flex: 1;
    display: flex;
    align-items: center;
}

#mid-three {
    background-color: gray;
    flex: 2;
    margin: 1%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.mid-three-subcontainer {
    background-color: gray;
    flex: 1;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#mid-four {
    background-color: red;
    flex: 1;
    flex-flow: column wrap;
    margin: 1%;
    align-items: center;
}

.element-one {
    background-color: tomato;
    flex: 1;
    margin: 1%;
    height: 40%;
}

#element-two {
    background-color: tomato;
    flex: 4;
    margin: 1%;
    height: 40%;
}

#element-three {
    background-color: white;
    margin: 2%;
    height: 50%;
    flex: 1;
}

.element-four {
    background-color: yellow;
    margin: 2%;
    height: 15%;
    width: 90%;
}

.element-five {
    background-color: blueviolet;
    margin: 3%;
    height: 60%;
    flex: 1;
}

#element-six {
    background-color: blueviolet;
    margin: 1%;
    flex: 0.96;
    height: 60%;
}

#element-seven {
    background-color: yellow;
    flex: 1;
}

@media only screen and (min-width : 768px) {}

@media only screen and (min-width: 576px) {}